{% import "components/form/fields_macros.html.twig" as fields %}

{% set bg = "" %}
{% if item.isDeleted() %}
    {% set bg = "asset-deleted" %}
{% endif %}

<div class="asset {{ bg }}">
    {% include("components/form/header.html.twig") %}

    {% set rand = random() %}
    {% set params  = params ?? [] %}
    {% set target       = params['target'] ?? item.getFormURL() %}
    {% set withtemplate = params['withtemplate'] ?? "" %}
    {% set item_type = item.getType() %}

    <div class="card-body d-flex">
        <div class="col-9 flex-column">
            <div class="d-flex flex-row flex-wrap flex-xl-nowrap">
                <div class="row flex-row align-items-start flex-grow-1">
                    <div class="row flex-row">
                        {% if item.isField('name') %}
                            {{ fields.autoNameField(
                                "name",
                                item,
                                (item_type == 'Contact' ? __('Surname') : __('Name')),
                            withtemplate
                            ) }}
                        {% endif %}

                        {% if item.isField('users_id') %}
                            {{ fields.dropdownField(
                                "User",
                                "users_id",
                                item.fields['users_id'],
                                "User"|itemtype_name,
                                {
                                    'entity': item.fields['entities_id'],
                                    'right': 'all',
                                }
                            ) }}
                        {% endif %}

                        {% if item.isField('locations_id') %}
                            {{ fields.dropdownField(
                                "Location",
                                "locations_id",
                                item.fields['locations_id'],
                                "Location"|itemtype_name,
                                {
                                    'entity': item.fields['entities_id'],
                                }
                            ) }}
                        {% endif %}

                        {% if item.isField('plugin_badges_badgetypes_id') %}
                            {{ fields.dropdownField(
                                "PluginBadgesBadgeType",
                                "plugin_badges_badgetypes_id",
                                item.fields['plugin_badges_badgetypes_id'],
                                "PluginBadgesBadgeType"|itemtype_name,
                            ) }}
                        {% endif %}

                        {% if item.isField('serial') %}
                            {{ fields.textField(
                                "serial",
                                item.fields['serial'],
                                __("Serial number"),
                            ) }}
                        {% endif %}

                        {% if item.isField('states_id') %}
                            {{ fields.dropdownField(
                                "State",
                                "states_id",
                                item.fields['states_id'],
                                __("Status"),
                                {
                                    'entity': item.fields['entities_id'],
                                    'condition': {'is_visible_computer': 1},
                                }
                            ) }}
                        {% endif %}

                        {% if item.isField('date_affectation') %}
                            {{ fields.dateField('date_affectation', item.fields['date_affectation'], __('Affectation date', 'badges'), {
                            }) }}
                        {% endif %}

                        {% if item.isField('date_expiration') %}
                            {{ fields.dateField('date_expiration', item.fields['date_expiration'], __('Date of end of validity', 'badges'), {
                                'helper': __('Empty for infinite')
                            }) }}
                        {% endif %}

                        {% if item.isField('comment') %}
                            {{ fields.textareaField(
                                "comment",
                                item.fields['comment'],
                                _n('Comment', 'Comments', 2),
                            ) }}
                        {% endif %}

                        {# {% set flags_html %} #}
                        {# {% include("components/form/flags.html.twig") %} #}
                        {# {% endset %} #}

                        {# {% if item.isField('pictures') %} #}
                        {# {{ fields.fileField('pictures', null, _n('Picture', 'Pictures', getPluralNumber()), { #}
                        {# 'onlyimages': true, #}
                        {# 'multiple': true, #}
                        {# }) }} #}
                        {# {% endif %} #}

                        {# {% if item.isField('is_active') %} #}
                        {# {{ fields.dropdownYesNo('is_active', item.fields['is_active'], __('Active')) }} #}
                        {# {% endif %} #}

                    </div> {# .row #}
                </div> {# .row #}
            </div> {# .flex-row #}
        </div>
        <div class="col-3 flex-column">
            <div class="flex-row asset-pictures">
                {% include("components/form/pictures.html.twig") with {'gallery_type': ''} %}
            </div>
        </div>
    </div> {# .card-body #}

    {% include("components/form/buttons.html.twig") %}
{#    {% include("components/form/inventory_info.html.twig") %}#}


    {% if params['formfooter'] == null %}
        <div class="card-footer mx-n2 mb-n2 mt-4">
            {% include("components/form/dates.html.twig") %}
        </div>
    {% endif %}
</div>
