{#
 -------------------------------------------------------------------------
 badges plugin for GLPI
 Copyright (C) 2015-2026 by the badges Development Team.

 https://github.com/InfotelGLPI/badges
 -------------------------------------------------------------------------

 LICENSE

 This file is part of badges.

 badges is free software; you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation; either version 2 of the License, or
 (at your option) any later version.

 badges is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with badges. If not, see <http://www.gnu.org/licenses/>.
 --------------------------------------------------------------------------
 #}

<div class="center">
    <table class="tab_cadre_fixe">
        <tr>
            <th colspan="6">{{ __('Badge requests history', 'badges') }}</th>
        </tr>
        {% if rows is not empty %}
        <tr>
            <th>{{ __('Requester') }}</th>
            <th>{{ __('Visitor realname', 'badges') }}</th>
            <th>{{ __('Visitor firstname', 'badges') }}</th>
            <th>{{ __('Visitor society', 'badges') }}</th>
            <th>{{ __('Arrival date', 'badges') }}</th>
            <th>{{ __('Return date', 'badges') }}</th>
        </tr>
        {% for row in rows %}
        <tr class="tab_bg_1">
            <td>{{ row.requester_name|raw }}</td>
            <td>{{ row.visitor_realname }}</td>
            <td>{{ row.visitor_firstname }}</td>
            <td>{{ row.visitor_society }}</td>
            <td>{{ row.affectation_date }}</td>
            <td>{{ row.return_date }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td class="center" colspan="6">{{ __('No results found') }}</td>
        </tr>
        {% endif %}
    </table>
</div>
