{#
 -------------------------------------------------------------------------
 badges plugin for GLPI
 Copyright (C) 2015-2026 by the badges Development Team.

 https://github.com/InfotelGLPI/badges
 -------------------------------------------------------------------------

 LICENSE

 This file is part of badges.

 badges is free software; you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation; either version 2 of the License, or
 (at your option) any later version.

 badges is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with badges. If not, see <http://www.gnu.org/licenses/>.
 --------------------------------------------------------------------------
 #}

{% if canedit %}
<form name="form" method="post" action="{{ form_url }}">
    <input type="hidden" name="_glpi_csrf_token" value="{{ csrf_token() }}">
    <div class="center">
        <table class="tab_cadre_fixe">
            <tr>
                <th colspan="6">{{ __('Badge return', 'badges') }}</th>
            </tr>
            <tr class="tab_bg_1">
                <td class="center">{{ badge_info_html|raw }}</td>
            </tr>
            <tr class="tab_bg_1">
                <td class="tab_bg_2 center" colspan="6">
                    <button type="submit" name="force_return" class="btn btn-primary">
                        {{ __('Force badge restitution', 'badges') }}
                    </button>
                    <input type="hidden" name="return_badges_id" value="{{ badges_id }}">
                    <input type="hidden" name="requesters_id" value="0">
                </td>
            </tr>
        </table>
    </div>
</form>
{% endif %}

{% include('@badges/badge_return_list.html.twig') %}
